div {
  width: 100%;
  height: calc(50vh);
  min-height: 150px;
}

@media (orientation: portrait) {
  div {
    width: 100%;
    height: 25vh;
    min-height: 150px;
  }
}

canvas {
  width: 100%;
  height: 100%;
}
