<h5 style="margin-top: 0.8rem">Check the topic "{{ topicName }}" on having the following attribute(s):</h5>

<div class="editable-attributes">
  @if (!useCustomFilter()) {
    <div class="field">
      <app-sui-multi-select-search-dropdown required
        id="search-select-attribute"
        name="{{indicatorKey}}--attributes"
        [(ngModel)]="selectedAttributeKeys"
        [options]="attributesDropdownOptions"
        [selectOptions]="getAttributesByTopicKey(this.selectedTopicKey) | keyvalue"></app-sui-multi-select-search-dropdown>
    </div>
  } @else {
    <div>Custom Filter</div>
    <input type="hidden" id="attribute-title" name="{{indicatorKey}}--attribute-title" [(ngModel)]="customFilterTitle">
    <input type="hidden" id="attribute-filter" name="{{indicatorKey}}--attribute-filter" [(ngModel)]="customFilterDefinition">
    <button type="button" class="ui red icon button" (click)="useCustomFilter.set(false)"><i class="close icon"></i>
    </button>
  }
  <button type="button" class="ui blue icon button"
          data-tooltip="View and edit attributes filter."
          data-inverted
          (click)="showAttributeFilterEditDialog()"
  >
    <i class="edit icon"></i>
  </button>
</div>

<!-- modal window to display detailed attribute information-->
<div id="attributes-details-dimmer"></div>
<div id="attribute-details" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <div id="title">Title will be set automatically</div>
  </div>
  <div class="content">
    <div class="ui three column divided grid">
      <!--      <div class="column">-->
      <!--        <h4 class="ui header">Description:</h4>-->
      <!--        <div id="description">Description text will be set automatically</div>-->
      <!--      </div>-->
      <div class="column">
        <h4 class="ui header">ohsome Filter definition:</h4>
        <pre><code #attributeFilter id="attributeFilter" class="language-ohsome-filter">Filter text will be set automatically</code></pre>
      </div>
    </div>
  </div>
</div>

<div id="attributes-editor-dimmer"></div>
<div id="attributes-editor" class="ui modal">
  <div class="header">
    <h1 class="ui header">View and Edit your Attribute Filter</h1>
  </div>
  <div class="scrolling content">
    <div class="required field">
      <label for="customTitle">Title</label>
      <input id="customTitle" class="ui header" type="text" value="My custom title" required>
    </div>
    <div class="required field">
      <label>Attribute Filter</label>
      <app-prism-editor [value]="combinedAttributeFilters"></app-prism-editor>
    </div>
  </div>
  <div class="actions">
    <div class="ui blue left floated basic button"><i class="checkmark icon"></i>Validate</div>
    <div class="ui blue left floated basic button"><i class="save icon"></i>Save in Browser Cache</div>
    <div
      class="ui green approve button"
      (click)="setCustomFilter({
        title: 'abc',
        definition: 'filterdef'
      })"
    >OK
    </div>
    <div class="ui red cancel button">Cancel</div>
  </div>
</div>
