<div class="field">
  <h5 style="margin-top: 0.8rem">Check the topic "{{ topicName }}" on having the following attribute(s):</h5>
  <select multiple required
          class="ui search selection dropdown"
          id="search-select-attribute"
          name="{{indicatorKey}}--attributes"
          [(ngModel)]="selectedAttributeKeys">
    <option *ngFor="let entry of getAttributesByTopicKey(this.selectedTopicKey) | keyvalue;"
            [value]="entry.key">{{ entry.value.name }}
    </option>
  </select>
</div>

<!-- modal window to display detailed attribute information-->
<div id="attribute-details" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <div id="title">Title will be set automatically</div>
  </div>
  <div class="content">
    <div class="ui three column divided grid">
<!--      <div class="column">-->
<!--        <h4 class="ui header">Description:</h4>-->
<!--        <div id="description">Description text will be set automatically</div>-->
<!--      </div>-->
      <div class="column">
        <h4 class="ui header">ohsome Filter definition:</h4>
        <div id="filter">Filter text will be set automatically</div>
      </div>
    </div>
  </div>
</div>
