@media screen and (max-width: 550px) {
  thead,th,td {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 551px) and (max-width: 991px) {
 thead {
   font-size: 0.7em;
 }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  thead {
    font-size: 0.9em;
  }
}
