<div class="ui one column grid">
  <!-- Identifier to distinguish ohsome query from oqt query -->
  <input type="hidden" name="backend" value="ohsomeApi" ngModel="ohsomeApi">
  <!-- update time -->
  @if (viewUpdateTime) {
    <div class="row" [attr.data-tooltip]="maxDate | date:'yyyy-MM-dd HH:mm'"
      data-position="bottom center">
      <div class="center aligned column">
        <div class="ui small statistic">
          <div class="label" i18n>
          Last Data Update
        </div>
          <div class="value">
            {{ getMaxDateAsDate() | timeAgo }}
          </div>
        </div>
      </div>
    </div>
  }

  @if (viewUpdateTime) {
    <div class="ui divider"></div>
  }

  <!-- Begin Filter section: either simple or advanced tab-->

  <div class="row">
    <div id="filter" class="column">
      <h4 class="ui header"><i class="filter icon"></i>Filter</h4>
      <div class="ui top attached tabular menu">
        <a class="item" [ngClass]="whichFilter === 'simple' ? ' active' : ''" data-tab="simple-filter"
        (click)="setWhichFilter('simple')" i18n>Simple</a>
        <a class="item" [ngClass]="whichFilter === 'advanced' ? ' active' : ''" data-tab="advanced-filter"
        (click)="setWhichFilter('advanced')" i18n>Advanced</a>
      </div>
      <div class="ui bottom attached tab secondary segment" [ngClass]="whichFilter === 'simple' ? ' active' : ''"
        data-tab="simple-filter">
        @if (whichFilter==='simple') {
          <div class="row">
            <!-- key/value -->
            <div id="osmTag" class="column">
              <!--                <div class="ui hidden divider"></div>-->
              <h4 class="ui header" i18n><i class="tags icon"></i>OSM tag</h4>
              <div class="two fields">
                <div class="six wide field">
                  <label>Key</label>
                  <input type="text" name="key" [(ngModel)]="selectedKey" class="">
                </div>
                <div class="ten wide field" [class.disabled]="selectedKey.trim() === ''" i18n><label>Value</label>
                <input type="text" name="value" [(ngModel)]="selectedValue" class=""
                       placeholder="leave blank to query all values" i18n-placeholder>
              </div>
            </div>
            @if (selectedKey.trim()==='*' || selectedValue.trim()==='*' && selectedKey.trim() !== '') {
              <div class="ui icon message"
                >
                <i class="warning icon"></i>
                <span i18n>You are searching for '*' as literal.
                    @if (selectedKey.trim()==='*') {
<span><br>Leave 'Key' blank to not use a tag filter.</span>
}
                    @if (selectedValue.trim()==='*') {
<span><br>Leave 'Value' blank to query all values.</span>
}
                  </span>
              </div>
            }
          </div>
          <!-- type -->
          <h4 class="ui header" i18n><i class="chooseosmtype icon"></i>OSM type</h4>
          <select name="types" class="ui fluid selection dropdown" [(ngModel)]="types" multiple required>
            @for (osmtype of typeOptions; track osmtype) {
              <option [value]="osmtype"><i
              class="small {{osmtype}} icon"></i>{{osmtype}}</option>
            }
          </select>
        </div>
      }
    </div>
    <div class="ui bottom attached tab secondary segment" [ngClass]="whichFilter === 'advanced' ? ' active' : ''"
      data-tab="advanced-filter">
      @if (whichFilter==='advanced') {
        <div class="row">
          <!-- filter -->
          <div id="filter_param" class="column">
            <!--          <h4 class="ui header"><i class="filter icon"></i>OSM tag filter</h4>-->
            <!--                <div class="ui hidden divider"></div>-->
            <h4 class="ui header" i18n><i class="tags icon"></i>ohsome filter</h4>
            <a href="https://docs.ohsome.org/ohsome-api/v1/filter.html" target="_blank" i18n>How does this work?</a>
            <div class="field">
              <!--                  <label>ohsome filter</label>-->
              <textarea name="filter" [(ngModel)]="selectedFilter">
                building=* and building!=no and
                geometry:polygon
              </textarea>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<!-- End of Filter section-->

<!-- measure -->
<div class="row">
  <div class="column">
    <h4 class="ui header" i18n><i class="expand icon"></i>Measure</h4>
    <div class="four inline fields">
      @for (option of measureOptions; track option) {
        <div class="field">
          <div class="ui radio checkbox">
            <input name="measure" type="radio" [value]="option.value" [checked]="option.value === measure"
              (change)="fireResize()"
              [(ngModel)]="measure"
              required>
            <label style="white-space: nowrap;">{{option.label}}</label>
          </div>
        </div>
      }
    </div>

    <!--    <div *ngIf="measure.valid" class="ui small negative icon message">-->
    <!--      <i class="minus circle icon"></i>-->
    <!--      Please choose an option-->
  <!--    </div>-->
</div>
</div>

<!-- groupBy -->
<div class="ui divider"></div>
<div class="row">
  <div class="column">
    <h4 class="ui header" i18n><i class="list icon"></i>Group Results By ...</h4>
    <div class="one inline fields">
      <div class="ui radio checkbox field"><input name="groupBy" type="radio" [value]="'none'" (change)="fireResize()"
        [(ngModel)]="groupBy" checked><label i18n>none</label></div>
      </div>
      <div class="four inline fields">
        @for (option of groupByOptions; track option) {
          <div class="field">
            <div class="ui radio checkbox field"><input name="groupBy" type="radio" [value]="option.value"
              (change)="fireResize()" [(ngModel)]="groupBy"><label
            style="white-space: nowrap;">{{option.label}}</label></div>
          </div>
        }
      </div>
      <div class="two fields">
        @if (groupBy === 'key') {
          <div class="sixteen wide field">
            <label i18n><i class="key icon"></i>Grouping Keys</label>
            <input type="text" name="groupByKeys" [(ngModel)]="groupByKeys" class="" required>
          </div>
        }
        @if (groupBy === 'tag') {
          <div class="eight wide field">
            <label i18n><i class="key icon"></i>Grouping Key</label>
            <input type="text" name="groupByKey" [(ngModel)]="groupByKey" class="" required>
          </div>
        }
        @if (groupBy === 'tag') {
          <div class="eight wide field">
            <label i18n><i class="info icon"></i>Grouping Values</label>
            <input type="text" name="groupByValues" [(ngModel)]="groupByValues" class="">
          </div>
        }
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <!-- time picker -->
  <div class="column">
    <app-time-period-picker-input name="time" [(ngModel)]="time"
    [options]="{minDate: minDate, maxDate: maxDate}"></app-time-period-picker-input>
  </div>
</div><!--inner one column grid-->
