<!--<form class="ui stackable celled grid container form" (submit)="onSubmit($event)">-->

<!--  <div class="row">-->
<!--column 1-->

<!-- Topic -->
<!--    <div id="col1" class="eight wide tablet six wide computer column">-->
<!--      <div class="row">-->

<h4 id="topicHeading" class="ui header" i18n><i class="filter icon"></i>Topic</h4>
<input type="hidden" name="backend" value="ohsomeApi" ngModel="ohsomeApi">
<div class="editable-topic">
  <div class="field">

    <!--          [value]="stateService.sharedFormSignals.topic()"
                (valueChange)="stateService.sharedFormSignals.topic.set( $event.toString() )"-->
    <app-sui-multi-select-search-dropdown
      [multiple]="false"
      [searchable]="true"
      [formField]="statsForm.topic"
      [options]="{fullTextSearch: 'exact'}"
      [selectOptions]="topics | keyvalue">
    </app-sui-multi-select-search-dropdown>
  </div>
  <button type="button" class="ui blue icon button"
          data-tooltip="Edit the topic filter."
          data-inverted
          [class.disabled]="statsForm.topic().value() === 'custom-topic'"
          (click)="setCustomTopic()"
          i18n-data-tooltip
  >
    <i class="edit icon"></i>
  </button>
</div>
<div id="topic-description">
  {{ topics[statsForm.topic().value()].description }}
</div>

<div class="ui items" id="topic-details"
     [class.highlight-topic-details]="statsForm.topic().value() === 'custom-topic'">

  @if (statsForm.topic().value() === 'custom-topic') {
    <div class="item">
      <div class="content">
        <label for="topic-title" i18n>Custom topic title:</label>
        <input type="text" id="topic-title"
               placeholder="Enter your Topic Title"
               [formField]="statsForm['topic-title']"
               i18n-placeholder
        >
      </div>
    </div>
  }



  <!-- Filter -->
  <span i18n><a href="https://docs.ohsome.org/ohsome-api/v1/filter.html" target="_blank">ohsome filter</a> definition
              of the topic:</span>
  @if (statsForm.topic().value() === 'custom-topic') {
    <app-prism-editor id="topicFilter"
                      [formField]="statsForm['topic-filter']"
                      [partialSetupOptions]="{wordWrap: true, lineNumbers: false}"
                      [backgroundColor]="'#FFFFFF'"
    >
    </app-prism-editor>
  } @else {
    <app-prism-editor id="topicFilter"
                      [readonly]="true"
                      [partialSetupOptions]="{wordWrap: true, lineNumbers: false}"
                      [backgroundColor]="'#F3F4F5'"
                      [value]="filterFromTopic()"
    >
    </app-prism-editor>
  }


  <!--      <div class="ui divider"></div>-->
  <!--      &lt;!&ndash; Clip &ndash;&gt;-->
  <!--      <h4 class="ui header"><i class="cut icon"></i>Clip</h4>-->
  <!--      <div class="ui toggle checkbox">-->
  <!--        <input type="checkbox" [formField]="extractionForm.clip">-->
  <!--        <label>Clip geometries at area-of-interest boundary</label>-->
  <!--      </div>-->

  <!--<div class="ui divider"></div>-->
  <!-- measure -->
  <!--      <div class="row">-->
  <!--<div class="column">-->
  <h4 class="ui header" i18n><i class="arrows alternate horizontal icon"></i>Measure</h4>
  <div class="four inline fields">
    <!--    @if (statsForm.topic().value() === 'custom-topic') {-->
    @for (option of measureOptions; track option) {
      <div class="field">
        <div class="ui radio checkbox">
          <input [id]="'measure' + option.value" type="radio" [value]="option.value" [formField]="statsForm.measure">
          <label [for]="'measure' + option.value" style="white-space: nowrap;">{{ option.label }}</label>
        </div>
      </div>
    }
    <!--    } @else {-->
    <!--      @for (option of measureOptions; track option) {-->
    <!--        <div class="field">-->
    <!--          <div class="ui radio checkbox">-->
    <!--            <input [id]="'measure' + option.value" type="radio" [value]="option.value"  [checked]="measureFromTopic()===option.value" disabled>-->
    <!--            <label [for]="'measure' + option.value" style="white-space: nowrap;">{{ option.label }}</label>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      }-->
    <!--    }-->
  </div>

  <!--    <div *ngIf="measure.valid" class="ui small negative icon message">-->
  <!--      <i class="minus circle icon"></i>-->
  <!--      Please choose an option-->
  <!--    </div>-->
  <!--</div> &lt;!&ndash;column&ndash;&gt;-->
  <!--      </div> &lt;!&ndash;row&ndash;&gt;-->
</div> <!--topic-details-->

<div class="ui divider"></div>
<!-- Clip -->
<h6 class="ui right floated header"><i class="question circle outline icon" i18n-title title="The clip option defines whether the features to be analyzed should be clipped at the selected area-of-interest boundary before measuring their count/length/area. Not clipping for lines and especially polygons can speed up the analysis a lot for large AOIs while the impact for the result is low. Check it on if you are analyzing small areas like cities or smaller."></i></h6>
<h4 class="ui left floated header" i18n><i class="cut icon"></i>Clip</h4>
<div class="ui toggle checkbox">
  <input type="checkbox" [formField]="statsForm.clip">
  <label i18n>Clip geometries at area-of-interest boundary</label>
  @if (statsForm.clip().value()){
    <div class="ui info message" i18n>Hint: Mostly useful for small area-of-interests.</div>
  }
</div>

<!-- Time -->
<div class="ui divider"></div>
<h4 class="ui header" i18n><i class="calendar icon"></i>Date and Time Range</h4>
<div class="two fields">
  <div class="field"><label i18n>Start<input type="datetime-local" [formField]="statsForm.start"></label></div>
  <div class="field"><label i18n>End<input type="datetime-local" [formField]="statsForm.end"></label></div>
</div>
<div class="field">
  <label i18n>Interval<select [formField]="statsForm.interval">
    @for (option of periodOptions; track option.value) {
      <option [value]="option.value">{{ option.label }}</option>
    }
  </select></label>
</div>

<!--    </div> &lt;!&ndash; End column 1&ndash;&gt;-->

<div class="ui divider"></div>
<div class="ui toggle checkbox">
  <input type="checkbox" [checked]="groupByTag()" (change)="groupByTag.update((old)=>!old)">
  <label i18n>
    Tag Value Exploration
  </label><br>
</div>
@if (groupByTag()) {
  <div class="field">
    <input type="text" i18n-placeholder placeholder="Insert a Tag Key" [formField]="statsForm.groupByTagKey">
    <p i18n>Insert a tag-key to explore all tag-values used in the data specified by the given filter.</p>
  </div>
}

<!--TODO cleanup-->
<!--column 2-->
<!--    <div id="col2" class="eight wide tablet ten wide computer column">-->
<!--      <h4 class="ui header" i18n>Area of interest: Choose a bounding box</h4>-->
<!--      <app-boundary-input-->
<!--        [interactionType]="'bbox'"-->
<!--        [options]="mapOptions"-->
<!--        [formField]="statsForm.aoi">-->
<!--      </app-boundary-input>-->
<!--    </div>-->

<!--  </div> -- ROW  -->

<!--  <div class="row">-->
<!--    <div class="sixteen wide column">-->
<!--      <button [disabled]="statsForm().invalid()" class="ui green  right labeled icon button" type="submit">Run Query<i-->
<!--          class="play icon"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<!--</form>-->
