.result {
  margin-bottom: 1rem !important;
  background-color: whitesmoke;
}

#header #leftMenu {
  margin-left: 1rem;
  overflow: hidden;
}

#header #boundaryLabelsItem {
  min-width: 0;
  flex: 1 1 auto;
  align-items: baseline;
  line-height: inherit;
}

#header #boundaryLabelsText {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
