<form #f="ngForm" (ngSubmit)="onSubmit()" class="ui stackable celled grid container form"
      xmlns="http://www.w3.org/1999/html" appAtLeastOneOqtIndicatorCheckboxChecked>

  <!--column 1-->
  <div class="eight wide tablet six wide computer column">

    <!-- TABS: ohsomeAPI | OQT-->
    <!-- tab header -->
    <div class="ui top attached tabular menu" [ngClass]="window.innerWidth <= 440? 'icon labeled': ''">
      <a class="item" data-tab="tab-ohsome-api"
         [ngClass]="activeBackend === 'ohsomeApi' ? ' active' : ''"
         (click)="setWhichApi('ohsomeApi')"><i class="chart bar outline icon"></i>OSM History Stats</a>
      <a class="item" data-tab="tab-oqt-api"
         [ngClass]="activeBackend === 'oqtApi' ? ' active' : ''"
         (click)="setWhichApi('oqtApi')"><i class="cogs icon"></i>OSM Quality Analyses</a>
    </div>
    <!-- tab content -->
    <div class="ui bottom attached tab secondary segment" data-tab="tab-ohsome-api"
         [ngClass]="activeBackend === 'ohsomeApi' ? ' active' : ''">
      <app-ohsome-api-query-form *ngIf="activeBackend==='ohsomeApi'" [hashParams]=hashParams></app-ohsome-api-query-form>
    </div>
    <div class="ui bottom attached tab secondary segment" data-tab="tab-oqt-api"
         [ngClass]="activeBackend === 'oqtApi' ? ' active' : ''">
      <app-oqt-api-query-form *ngIf="activeBackend==='oqtApi'" [hashParams]=hashParams></app-oqt-api-query-form>
    </div>

  </div>
  <!-- End of column 1 -->

  <!--column 2-->
  <div id="col2" class="eight wide tablet ten wide computer column">
    <h4 class="ui header">Area of interest</h4>

    <div id="boundaryTypeButtons" class="ui top attached buttons leaflet-pm-toolbar">
      <button type="button" class="ui button" title="Select admin boundaries"
              [ngClass]="{'active': boundaryType === 'admin'}"
              (click)="boundaryType = 'admin'"><i class="admin icon"></i></button>
      <button type="button" class="ui button active" title="Draw boxes" [ngClass]="{'active': boundaryType === 'bbox'}"
              (click)="boundaryType = 'bbox'"><i class="bbox icon"></i></button>
      <button *ngIf="activeBackend==='ohsomeApi'" type="button" class="ui button" title="Draw circles"
              [ngClass]="{'active': boundaryType === 'bcircle'}"
              (click)="boundaryType = 'bcircle'"><i class="bcircle icon"></i></button>
      <button type="button" class="ui button" title="Draw polygons" [ngClass]="{'active': boundaryType === 'bpoly'}"
              (click)="boundaryType = 'bpoly'"><i class="bpoly icon"></i></button>
    </div>

    <app-boundary-select-input #bsi *ngIf="boundaryType === 'admin'" name="bpolys"
                               [options]="{type: 'bpoly', center: mapCenter, zoom: zoom, minZoom: minZoom, maxBounds: maxBounds, maskPoly: maskPoly}"
                               [(ngModel)]="adminBoundaries" required></app-boundary-select-input>
    <app-boundary-input #bsi *ngIf="boundaryType === 'bbox'" name="bboxes"
                        [options]="{type: 'bbox', center: mapCenter, zoom: zoom, minZoom: minZoom, maxBounds: maxBounds, maskPoly: maskPoly}"
                        [(ngModel)]="bboxes" required></app-boundary-input>
    <app-boundary-input #bsi *ngIf="boundaryType === 'bcircle'" name="bcircles"
                        [options]="{type: 'bcircle', center: mapCenter, zoom: zoom, minZoom: minZoom, maxBounds: maxBounds, maskPoly: maskPoly}"
                        [(ngModel)]="bcircles" required></app-boundary-input>
    <app-boundary-input #bsi *ngIf="boundaryType === 'bpoly'" name="bpolys"
                        [options]="{type: 'bpoly', center: mapCenter, zoom: zoom, minZoom: minZoom, maxBounds: maxBounds, maskPoly: maskPoly}"
                        [(ngModel)]="bpolys" required></app-boundary-input>

    <div *ngIf="boundaryType === 'admin'" class="field">
      <label>Selected areas</label>
      <div class="selected-names ui blue labels">
        <ng-container *ngFor="let selected of selectedNames; let i = index">
          <a [attr.data-feature-index]="i" (click)="removeAdminBoundary($event)"
                class="ui label">{{selected}} <i class="delete icon"></i></a>
        </ng-container>
      </div>
    </div>
    <div *ngIf="boundaryType === 'bbox'" class="field">
      <label>Bounding Box</label>
      <input type="text" name="bboxes" [(ngModel)]="bboxes">
    </div>
    <div *ngIf="boundaryType === 'bcircle'" class="field">
      <label>Bounding Circle</label>
      <input type="text" name="bcircles" [(ngModel)]="bcircles">
    </div>
    <div *ngIf="boundaryType === 'bpoly'" class="field">
      <label>Bounding Polygon</label>
      <input type="text" name="bpolys" [(ngModel)]="bpolys">
    </div>

  </div>

  <!--row 2-->
  <div class="row">
    <div class="sixteen wide column">
      <button [disabled]="!f.valid" type="submit" class="ui green right labeled icon button"><i class="play icon"></i>Run
        Query
      </button>
    </div>
  </div>
</form>
