<div class="ui top fixed borderless menu" [ngClass]="window.innerWidth <= 440? 'mini': ''">
  <div class="ui container">
    <a href="" target="_blank" class="header link item">
      <img class="ui inline image" src="assets/images/ohsome_narrow.svg" alt="ohsome logo">
      <span style="color: #000; vertical-align: middle">&nbsp;&nbsp;DASHBOARD</span>
    </a>
    <div id="header-message-item" class="header item" i18n>Easy access to OSM History and Quality Analyses</div>
    <div class="right menu">
      <div id="languageSelector" class="ui dropdown item">
        <i class="globe icon"></i>
        <div class="text" i18n>Language</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" data-value="de">Deutsch</a>
          <a class="item" data-value="en">English</a>
        </div>
      </div>
      <div id="profileSelector" class="ui dropdown item">
        <i class="user icon" [ngClass]="authService.isAnon() ? 'blue outline' : 'blue'"></i>
        @if (authService.isAnon()) {
          <div class="text" i18n>Profile</div>
        } @else {
          <div class="text">{{ authService.user().name }}</div>
        }
        <i class="dropdown icon"></i>
        <div class="menu">
          @if (authService.isAnon()) {
            <div class="item" (click)="authService.login()"><i class="sign-in icon"></i>Login</div>
            <div class="item" (click)="authService.register()"><i class="user plus icon"></i>Register</div>
          }
          @if (!authService.isAnon()) {
            <div class="item" (click)="authService.logout()">Logout</div>
            <a class="item" [href]="environment.accountFrontendUrl" target="_blank">Account Info</a>
          }

        </div>
      </div>
      <div class="link item"><a href="https://heigit.org" target="_blank">
        <img class="ui image" src="assets/images/HeiGIT_Logo_only.svg" alt="HeiGIT Logo">
      </a></div>
    </div>
  </div>
</div>
@if (hasAnnouncement) {
  <div id="announcement" class="ui bottom fixed one item menu">
    <div class="ui item red message">
      <i class="close icon" (click)="hasAnnouncement=false"></i>
      <div class="header" [innerHTML]="announcement">
      </div>
    </div>
  </div>
}

<div id="main" class="ui" [ngClass]="window.innerWidth < 768? '': 'container'">
  <!-- user: {{authService.user().name}} | isAnon: {{authService.isAnon()}} | key: {{ authService.key() | json}}-->
  <!-- Query mode Menu  -->
  <!--  TODO remove-->
  <!--  q: {{ stateService.qualityFormModel() | json }} <br>-->
  <!--  l: {{ stateService.legacyFormModel()  | json }} <br>-->
  <!--  e: {{ stateService.extractionFormModel() | json }}-->
  <h3>Select a type of ohsome query:</h3>
  <div class="ui three inverted labeled item tabs menu" style="background-color: #3E6184">

    <a class="item" data-tab="tab-ohsome-api"
       [ngClass]="queryModeSignal() === 'ohsomeApi' ? ['active', 'blue'] : ''"
       (click)="this.stateService.updatePartialState({'queryMode':'ohsomeApi'})"
       (keydown.enter)="this.stateService.updatePartialState({'queryMode':'ohsomeApi'})" tabindex="0"><i
      class="chart bar outline icon"></i><span i18n>OSM History Stats</span></a>
    <a class="item" data-tab="tab-oqt-api"
       [ngClass]="queryModeSignal() === 'oqtApi' ? ['active', 'blue'] : ''"
       (click)="this.stateService.updatePartialState({'queryMode':'oqtApi'})"
       (keydown.enter)="this.stateService.updatePartialState({'queryMode':'oqtApi'})" tabindex="0">
      <i class="cogs icon"></i><span i18n>OSM Quality Analyses</span></a>

    <a class="item" data-tab="tab-extraction"
       [ngClass]="queryModeSignal() === 'extraction' ? ['active', 'blue'] : ''"
       (click)="this.stateService.updatePartialState({'queryMode':'extraction'})"
       (keydown.enter)="this.stateService.updatePartialState({'queryMode':'extraction'})" tabindex="0">
      <i class="download icon"></i>OSM Data Extraction</a>

  </div>

  <app-query-panel></app-query-panel>

  <app-result-panel></app-result-panel>

</div>

<!-- footer -->
<div class="ui horizontal divider" i18n>About</div>
<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height center aligned grid">
      <div class="five wide column">
        <h3 class="header" i18n>Data Sources</h3>
        <p i18n>
          Analyses OSM data &copy;&nbsp;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap
          contributors.</a><br>
          Base map from OpenStreetMap and OpenStreetMap Foundation.<br>
        </p>
      </div>
      <div class="five wide column">
        <h3 class="header" i18n>Technology</h3>
        <p i18n>
          The “ohsome” OpenStreetMap History Analyzer Platform is based
          on technology <a href="https://heigit.org/technology/#osm-data" target="_blank">developed by HeiGIT</a>.
        </p>
        <p i18n>
          The source code for this dashboard is open source (GPL-3.0) and <a
          href="https://github.com/giscience/ohsome-dashboard">available on GitHub</a>.
        </p>
        <h4 class="header" i18n>Data Analyses are powered by:</h4>
        <div class="ui list">
          <div class="item">OSM History Stats: <a href="https://github.com/GIScience/ohsome-api" target="_blank">ohsome
            API</a> (AGPL-3.0)
          </div>
          <div class="item"> OSM Quality Analyses: <a href="https://github.com/GIScience/ohsome-quality-api"
                                                      target="_blank">ohsome quality API</a> (AGPL-3.0)
          </div>
        </div>
      </div>
      <div class="five wide column">
        <h3 class="header" i18n>Contact</h3>
        <p i18n>
          HeiGIT gGmbH<br>
          Heidelberg, Germany<br>
          Email: <a href="mailto:ohsome@heigit.org">ohsome&#64;heigit.org</a><br>
          Web: <a href="https://ohsome.org" target="_blank">ohsome.org</a>
        </p>
      </div>
    </div>
    <div class="ui horizontal divider"></div>
    <div class="ui stackable equal width center aligned padded grid">
      <div class="column">&copy; {{ currentYear }} HeiGIT gGmbH</div>
    </div>
    <div class="ui stackable equal width center aligned padded grid">
      <div class="column" i18n>Versions: Frontend: {{ frontendVersion }} &middot; ohsome-API: {{ ohsomeApiVersion }}
        &middot; ohsome-quality-API: {{ oqtApiVersion }}
      </div>
    </div>
  </div>
</div>

<app-welcome></app-welcome>
<app-copy-permalink-modal></app-copy-permalink-modal>

