<div class="ui top fixed borderless menu" [ngClass]="window.innerWidth <= 440? 'mini': ''">
  <div class="ui container">
    <a href="https://dashboard.ohsome.org" target="_blank" class="header link item">
      <img class="ui inline image" src="assets/images/ohsome_narrow.svg" alt="ohsome logo">
      <span style="color: #000; vertical-align: middle">&nbsp;&nbsp;DASHBOARD</span>
    </a>
    <div id="header-message-item" class="header item" i18n>Easy access to OSM History and Quality Analyses</div>
    <div class="ui simple dropdown item" i18n>
      Language
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" (click)="switchLanguage('de')">Deutsch</div>
        <div class="item" (click)="switchLanguage('en')">English</div>
      </div>
    </div>
    <div class="right link item"><a href="https://heigit.org" target="_blank">
      <img class="ui image" src="assets/images/HeiGIT_Logo_only.svg" alt="HeiGIT Logo">
    </a></div>
  </div>
</div>
<div id="announcement" *ngIf="hasAnnouncement" class="ui bottom fixed one item menu">
  <div class="ui item red message">
    <i class="close icon" (click)="hasAnnouncement=false"></i>
    <div class="header" [innerHTML]="announcement">
    </div>
  </div>
</div>

<div id="main" class="ui" [ngClass]="window.innerWidth < 768? '': 'container'">
  <app-query-panel></app-query-panel>
  <app-result-panel></app-result-panel>
</div>

<!-- footer -->
<div class="ui horizontal divider" i18n>About</div>
<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height center aligned grid">
      <div class="five wide column">
        <h3 class="header" i18n>Data Sources</h3>
        <p i18n>
          Analyses OSM data &copy;&nbsp;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap
          contributors.</a><br>
          Base map from OpenStreetMap and OpenStreetMap Foundation.<br>
        </p>
      </div>
      <div class="five wide column">
        <h3 class="header" i18n>Technology</h3>
        <p i18n>
          The “ohsome” OpenStreetMap History Analyzer Platform is based
          on technology <a href="https://heigit.org/technology/#osm-data" target="_blank">developed by HeiGIT</a>.
        </p>
        <p i18n>
          The source code for this dashboard is open source (GPL-3.0) and <a
          href="https://github.com/giscience/ohsome-dashboard">available on GitHub</a>.
        </p>
        <h4 class="header" i18n>Data Analyses are powered by:</h4>
        <div class="ui list">
          <div class="item">OSM History Stats: <a href="https://github.com/GIScience/ohsome-api" target="_blank">ohsome API</a> (AGPL-3.0)</div>
          <div class="item"> OSM Quality Analyses: <a href="https://github.com/GIScience/ohsome-quality-api" target="_blank">ohsome quality API</a> (AGPL-3.0)</div>
        </div>
      </div>
      <div class="five wide column">
        <h3 class="header" i18n>Contact</h3>
        <p i18n>
          HeiGIT gGmbH<br>
          Heidelberg, Germany<br>
          Email: <a href="mailto:ohsome@heigit.org">ohsome&#64;heigit.org</a><br>
          Web: <a href="https://ohsome.org" target="_blank">ohsome.org</a>
        </p>
      </div>
    </div>
    <div class="ui horizontal divider"></div>
    <div class="ui stackable equal width center aligned padded grid">
      <div class="column">&copy; {{ currentYear }} HeiGIT gGmbH</div>
    </div>
    <div class="ui stackable equal width center aligned padded grid">
      <div class="column" i18n>Versions: Frontend: {{ frontendVersion }} &middot; ohsome-API: {{ohsomeApiVersion}} &middot; ohsome-quality-API: {{oqtApiVersion}}</div>
    </div>
  </div>
</div>
