<form class="ui stackable celled grid container form" (submit)="onSubmit($event)">

  <div class="row">
    <!--column 1-->

    <!-- Topic -->
    <div class="eight wide tablet six wide computer column">
      <!--      <div class="row">-->
      <h4 id="topicHeading" class="ui header" i18n><i class="filter icon"></i>Topic</h4>

      <div class="editable-topic">
        <div class="field">

<!--          [value]="stateService.sharedFormSignals.topic()"
            (valueChange)="stateService.sharedFormSignals.topic.set( $event.toString() )"-->
          <app-sui-multi-select-search-dropdown
            [multiple]="false"
            [searchable]="true"
            [formField]="extractionForm.topic"
            [options]="{fullTextSearch: 'exact'}"
            [selectOptions]="topics | keyvalue">
          </app-sui-multi-select-search-dropdown>
        </div>
        <button type="button" class="ui blue icon button"
                data-tooltip="Edit the topic filter."
                data-inverted
                [class.disabled]="extractionForm.topic().value() === 'custom-topic'"
                (click)="setCustomTopic()"
                i18n-data-tooltip
        >
          <i class="edit icon"></i>
        </button>
      </div>


      <!--      </div> row-->

      <!-- Filter -->
      @if (extractionForm.topic().value() === 'custom-topic') {
        <app-prism-editor
          [formField]="extractionForm['topic-filter']"
          [partialSetupOptions]="{wordWrap: true, lineNumbers: true}"
          [backgroundColor]="'#FFFFFF'"
        >
        </app-prism-editor>
      } @else {
        <app-prism-editor
          [readonly]="true"
          [partialSetupOptions]="{wordWrap: true, lineNumbers: false}"
          [backgroundColor]="'#F3F4F5'"
          [value]="filterFromTopic()"
        >
        </app-prism-editor>
      }

      <div class="ui divider"></div>
      <!-- Clip -->
      <h4 class="ui header"><i class="cut icon"></i>Clip</h4>
      <div class="ui toggle checkbox">
        <input type="checkbox" [formField]="extractionForm.clip">
        <label>Clip geometries at area-of-interest boundary</label>
      </div>

      <div class="ui divider"></div>
      <h4 class="ui header"><i class="calendar icon"></i>Snapshot Time</h4>
      <div class="field">
        <input type="datetime-local" [formField]="extractionForm.timestamp">
      </div>

    </div> <!-- End column 1-->


    <!--column 2-->
    <div id="col2" class="eight wide tablet ten wide computer column">
      <h4 class="ui header" i18n>Area of interest</h4>

    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      <button [disabled]="extractionForm().invalid()" class="ui green  right labeled icon button" type="submit">Create
        Download Asset<i
          class="download icon"></i>
      </button>
    </div>
  </div>

</form>
