#topicFilter {
  display: block;
  min-height: 5rem;
  height: 6rem;
  max-height: 40rem;
  overflow: auto;
  resize: vertical;
  width: 100%;
  white-space: pre-wrap;
  border: 1px solid lightgrey;
  background-color: #f9f9f9;
}

/* Fix for unwanted input height and border-radius settings from other SemanticCSS rules */
:host ::ng-deep #search-select-attribute ~ input.search {
  height: unset;
  border-radius: unset;
}
