<div class="ui one column grid">
  <!-- Identifier to distinguish ohsome query from oqt query -->
  <input type="hidden" name="backend" value="oqtApi" ngModel="oqtApi">
  <div class="row">
    <div class="column">
      <!-- TODO: maybe feature-toggle with project (only show non-core projects explicitly)? -->
      <!-- 1. Topic or AOI-->
      <h4 class="ui header"><i class="filter icon"></i>Topic</h4>
      <div class="field">
        <select class="ui search selection dropdown" id="search-select-topic" name="topic"
                [(ngModel)]="selectedTopicKey"
                (change)="onTopicChange()">
          <option *ngFor="let topic of topics | keyvalue; let i = index;"
                  [value]="topic.key">{{ topic.value.name }}
          </option>
        </select>
      </div>

      <div class="ui basic segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              {{ topics[selectedTopicKey].description }}
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a href="https://docs.ohsome.org/ohsome-api/v1/filter.html" target="_blank">ohsome filter</a> definition
              of the topic:
              <pre #topicFilter id="topicFilter" class="language-ohsome-filter"></pre>
            </div>
          </div>
        </div>
      </div>

      <!-- 2. Set of indicators -->
      <div class="ui divider"></div>
      <h4 class="ui header"><i class="chart line icon"></i>Quality Indicators</h4>
      <!-- display all indicators_ always -->
      <!-- disable unavailable indicators_ (sort by availability?) -->

      <!-- grouping indicators with ngModelGroup="indicators" does not work properly. Work around -> handle flat indicators in result   -->
      <div *ngFor="let qualityDimension of currentQualityDimensions;" id="indicatorGroup">
        <div class="ui secondary segment">
          <div class="ui small header">{{ qualityDimensions[qualityDimension].name }}</div>
          <div class="ui divided items">
            <!-- individual indicators start -->
            <div class="item" *ngFor="let indicator of topics[selectedTopicKey].qualityDimensions?.[qualityDimension];">
              <app-simple-indicator
                [indicator]="indicator"
                [qualityDimension]="qualityDimension"
                (indicatorToggle)="onIndicatorToggle($event)"
              >
                @switch (indicator.key) {
                  @case ("attribute-completeness") {
                    @if (indicator.checked) {
                      <app-attribute-completeness-attributes
                        [selectedTopic]="topics[selectedTopicKey]"
                        [hashParams]="hashParams"
                        [indicatorKey]="indicator.key"
                      ></app-attribute-completeness-attributes>
                    }
                  }
                  @case ("land-cover-thematic-accuracy") {
                    @if (indicator.checked) {
                      <app-thematical-accuracy-indicator
                        [indicatorKey]="indicator.key"
                      ></app-thematical-accuracy-indicator>
                    }
                  }
                }
              </app-simple-indicator>
            </div>
            <!-- individual indicators end -->
          </div>
        </div>
      </div>

      <!-- Warning if a topic exists, but none of its indicators_ is available -->
      <div *ngIf="currentQualityDimensions.size === 0" class="ui small negative icon message">
        <i class="minus circle icon"></i>Sorry, currently no indicators are available for this topic.
      </div>

    </div>

  </div>

</div>
