<div class="ui one column grid">
  <!-- Identifier to distinguish ohsome query from oqt query -->
  <input type="hidden" name="backend" value="oqtApi" ngModel="oqtApi">
  <div class="row">
    <div class="column">
      <!-- TODO: maybe feature-toggle with project (only show non-core projects explicitly)? -->
      <!-- 1. Topic or AOI-->
      <h4 id="topicHeading" class="ui header"><i class="filter icon"></i>Topic</h4>
      <button type="button" id="searchTopicBtn" class="ui right floated basic button"
              (click)="stateService.updatePartialState({showWelcomeScreen: true, welcomeTab: 'topicCatalog'})">
        <i class="icon search"></i>
        Search Topic Catalog
      </button>
      <div class="field">
        <app-sui-multi-select-search-dropdown #searchSelectTopic required
                                              [multiple]="false"
                                              name="topic"
                                              [(ngModel)]="selectedTopicKey"
                                              [options]="{fullTextSearch: 'exact'}"

                                              [selectOptions]="topics | keyvalue"></app-sui-multi-select-search-dropdown>
      </div>
      <div class="ui basic segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              {{ topics[selectedTopicKey].description }}
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a href="https://docs.ohsome.org/ohsome-api/v1/filter.html" target="_blank">ohsome filter</a> definition
              of the topic:
              <app-prism-editor id="topicFilter" [readonly]="true" [value]="this.topics[selectedTopicKey].filter"
                                [partialSetupOptions]="{wordWrap: true, lineNumbers: false}"
                                [backgroundColor]="'#f9f9f9'"
              ></app-prism-editor>
            </div>
          </div>
        </div>
      </div>

      <!-- 2. Set of indicators -->
      <div class="ui divider"></div>
      <h4 class="ui header"><i class="chart line icon"></i>Quality Indicators</h4>
      <!-- display all indicators_ always -->
      <!-- disable unavailable indicators_ (sort by availability?) -->

      <!-- grouping indicators with ngModelGroup="indicators" does not work properly. Work around -> handle flat indicators in result   -->
      <div *ngFor="let qualityDimension of currentQualityDimensions;" id="indicatorGroup">
        <div class="ui secondary segment">
          <div class="ui small header">{{ qualityDimensions[qualityDimension].name }}</div>
          <div class="ui divided items">
            <!-- individual indicators start -->
            <div class="item" *ngFor="let indicator of topics[selectedTopicKey].qualityDimensions?.[qualityDimension];">
              <app-simple-indicator
                [indicator]="indicator"
                [qualityDimension]="qualityDimension"
                (indicatorToggle)="onIndicatorToggle($event)"
              >
                @switch (indicator.key) {
                  @case ("attribute-completeness") {
                    @if (indicator.checked) {
                      <app-attribute-completeness-attributes
                        [selectedTopic]="topics[selectedTopicKey]"
                        [hashParams]="hashParams"
                        [indicatorKey]="indicator.key"
                      ></app-attribute-completeness-attributes>
                    }
                  }
                  @case ("land-cover-thematic-accuracy") {
                    @if (indicator.checked) {
                      <app-thematical-accuracy-indicator
                        [indicatorKey]="indicator.key"
                        [hashParams]="hashParams"
                      ></app-thematical-accuracy-indicator>
                    }
                  }
                }
              </app-simple-indicator>
            </div>
            <!-- individual indicators end -->
          </div>
        </div>
      </div>

      <!-- Warning if a topic exists, but none of its indicators_ is available -->
      <div *ngIf="currentQualityDimensions.size === 0" class="ui small negative icon message">
        <i class="minus circle icon"></i>Sorry, currently no indicators are available for this topic.
      </div>

    </div>

  </div>

</div>
