<!-- modal window to display welcome screen-->
<div id="welcome-dimmer"></div>
<div id="welcome" class="ui large modal">
  <i class="close icon"></i>
  <div class="header">
    <div id="title">Welome to the ohsome DASHBORD</div>
  </div>
  <div class="content">



    <!--    TABS-->
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">Intro</a>
      <a class="item" data-tab="second">Topic Catalog</a>
      <a class="item" data-tab="third">About</a>
    </div>

    <!--    TABS Content-->
    <div class="ui bottom attached active tab segment" data-tab="first">
      First
    </div>
    <div id="topicCatalogContent" class="ui bottom attached tab segment" data-tab="second">
      Second
<!--      <div id="topicTable"></div>-->
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>

    <!--    <div class="ui three column divided grid">-->
    <!--      &lt;!&ndash;      <div class="column">&ndash;&gt;-->
    <!--      &lt;!&ndash;        <h4 class="ui header">Description:</h4>&ndash;&gt;-->
    <!--      &lt;!&ndash;        <div id="description">Description text will be set automatically</div>&ndash;&gt;-->
    <!--      &lt;!&ndash;      </div>&ndash;&gt;-->
    <!--      <div class="column">-->
    <!--        <h4 class="ui header">ohsome Filter definition:</h4>-->
    <!--        <pre><code #attributeFilter id="attributeFilter" class="language-ohsome-filter">Filter text will be set automatically</code></pre>-->
    <!--      </div>-->
    <!--    </div>-->
    <div id="topicTable"></div>
  </div>


</div>
