@media only screen and (min-width: 1200px) {
  .ui.custom-large.modal {
    width: 1190px;
  }
}

@media only screen and (min-width: 1850px) {
  .ui.custom-large.modal {
    width: 1800px;
  }
}

@media only screen and (min-width: 1919px) {
  .ui.custom-large.modal {
    width: 1910px;
  }
}

.ui.modal > .close {
  top: 0.5rem;
  right: 0.5rem;
  color: inherit;
}


.ui.modal .scrolling.content {
  max-height: calc(100vh - 10rem);
  overflow: auto;
}

#topicTable .tabulator-header-filter > input[type="search"] {
  color: rgba(0, 0, 0, 0.95);
  border-color: rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  border-width: 1px;
  border-style: solid;

  &:is(:focus, :focus-visible, :hover) {
    border-color: #85B7D9;
    border-width: 1px;
  }
}
