<!-- modal window to display welcome screen-->
<div id="welcome-dimmer"></div>
<div id="welcome" class="ui custom-large longer modal">
<div #welcome id="welcome" class="ui custom-large modal">
  <i class="close icon"></i>
  <div class="header">
    <div id="title">Welome to the ohsome DASHBORD</div>
  </div>
  <div class=" scrolling content">



    <!--    TABS-->
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">Intro</a>
      <a class="item" data-tab="second">Topic Catalog</a>
      <a class="item" data-tab="third">About</a>
    </div>

    <!--    TABS Content-->
    <div class="ui bottom attached active tab segment" data-tab="first">
      First
    </div>
    <div id="topicCatalogContent" class="ui bottom attached tab segment" data-tab="second">
      <div id="topicTable"></div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
  </div>


</div>
