<h5 style="margin-top: 0.8rem">Select a specific land cover class to check. Leave empty for all classes:</h5>

<div class="field">
  <app-sui-multi-select-search-dropdown
                                        id="search-select-corine-land-cover-class"
                                        name="{{indicatorKey}}--corine_land_cover_class"
                                        [(ngModel)]="selectedCorineClassIds"
                                        [options]="corineLandCoverClassDropdownOptions"
                                        [selectOptions]="this.corineLandCoverClassMapLevel2 | keyvalue">
  </app-sui-multi-select-search-dropdown>
</div>
