<div class="field">
  <app-sui-multi-select-search-dropdown
                                        id="search-select-corine-class"
                                        name="{{indicatorKey}}--corine_class"
                                        [(ngModel)]="selectedCorineClassIds"
                                        [options]="corineClassDropdownOptions"
                                        [selectOptions]="corineClassMap | keyvalue">

  </app-sui-multi-select-search-dropdown>
</div>
