<dialog id="permalinkDialog" #permalinkDialog (close)="onNativeClose()" (cancel)="onNativeClose()" (click)="onClickOutsideClose($event)">
  <button id="close-btn" type="button" (click)="stateService.closePermalinkDialog()">
    <i class="close icon" ></i>
  </button>
  <br>
  <div class="ui form">
    <div class="field">
      <label i18n>Copy Permalink</label>
      <div class="field-button">
        <input type="text" id="permalink" #permalinkInput readonly (click)="permalinkInput.select()" [value]="dialogState().permalink">
        @if (navigator.clipboard && window.isSecureContext){
          <button #copyButton class="ui primary button" (click)="copyPermalink()" i18n><i
            class="copy icon"></i>&nbsp;Copy
          </button>
        } @else {
          <button class="ui disabled button" disabled i18n>Press Ctrl&#8209;C</button>
        }
      </div>
    </div>

  </div>

</dialog>
