#header #leftMenu {
  margin-left: 1rem;
  overflow: hidden;
}

#header #boundaryLabelsItem {
  min-width: 0;
  flex: 1 1 auto;
  align-items: baseline;
  line-height: inherit;
}

#header #boundaryLabelsText {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.result {
  margin-bottom: 1rem !important;
  background-color: whitesmoke;
}

.ui.circular.label.topic {
  font-family: 'latin_modern_mono_prop10Rg', monospace;
  background-color: #E8E8E8 !important;
  color: rgba(0, 0, 0, 0.6) !important;
  margin: 0 0.5rem !important;
  text-transform: none !important;
}

app-indicator-result {
  display: flex;
  flex-grow: 1;
}

.indicator-container {
  display: flex !important;
  min-height: 100px;
}
