/* You can add global styles to this file, and also import other style files */
:root {
  --heigit-red: #ca2334;
}

html {
  scroll-behavior: smooth;
}

/* prevent background from scrolling when modal is open*/
body:has(.ui.modal.active) {
  overflow: hidden;
}

@font-face {
  font-family: 'latin_modern_mono_light_c10Rg';
  src: url("assets/fonts/lmmonoltcond10-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latin_modern_mono_prop10Rg';
  src: url("assets/fonts/lmmonoprop10-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'stix_two_math_regular';
  src: url("assets/fonts/STIXTwoMath-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

math {
  font-family: stix_two_math_regular, latin_modern_mono_light_c10Rg, serif;
  font-weight: bold;
}
