#topicFilter {
  display: block;
  min-height: 5rem;
  height: 6rem;
  max-height: 40rem;
  overflow: auto;
  resize: vertical;
  width: 100%;
  white-space: pre-wrap;
  border: 1px solid lightgrey;
  background-color: #f9f9f9;
}

#topicHeading {
  float: left;
  padding-top: 0.5rem;
}

#searchTopicBtn {
  float: right;
  padding: 0.5rem 1.5rem 0.5rem;
  background-color: white;
  outline: unset;

  &:focus-visible {
    outline: auto;
    }
}

/* dropdown search with pre defined attributes + EDIT button*/
.editable-topic {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.editable-topic > div.field {
  flex: 1 1 auto;
}

.editable-topic > button {
  flex: 0 0 auto;
  margin-left: 1rem;
}

#topic-details {
  transition: box-shadow 0.5s;
}

.highlight-topic-details {
  /*outline: 2px solid #2185D0;*/
  /*outline-offset: 5px;*/
  box-shadow:
    0 0 0 5px #f3f4f5,
    0 0 0 7px #2185D0;
}

.quality-dimension {
  text-transform: capitalize;
}
